doctype html
html(lang='en' ng-app='mpc')
  head
    meta(charset='utf-8')
    title= 'MEAN Stack Currency Calculator'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/vendor/angular/angular.min.js')
    script(type='text/javascript' src='/javascripts/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/javascripts/mpc.js')
  body
    #mpc
      div.row.header-row
        h1 Coinage v1.0
      div.row.container-row
        form(ng-controller="MainController as mainCtrl" ng-submit="mainCtrl.onSubmit()" novalidate)
          label(for='mpc-value') Enter monetary value for coin conversion.
          input(id='mpc-value' name='mpc-value' type='text' ng-model="mainCtrl.inputValue")
          input(id='mpc-submit' name='Convert' value='Convert' type='submit')
        table.results
          thead
            tr
              td(colspan='2')
                p.message.header-row Converting {{ 12 + 12 }} pennies into coins
          tbody
            tr
              td.left
                strong.hr Coin
              td.right
                strong.hr Amount
            tr
              td.left 
                span.hr 1p
              td.right 
                span.hr 1
            tr
              td.left 
                span.hr 2p
              td.right 
                span.hr 7
            tr
              td.left 
                span.hr 50p
              td.right 
                span.hr 1
            tr
              td.left 
                span.hr &pound;1
              td.right 
                span.hr 1
            tr
              td.left 
                span.hr &pound;2
              td.right 
                span.hr 1
      div.row.footer-row
        p.copy &copy; Coinage 2015
